/*---
title:   map-get-deep
name:    function_map_get_deep
section: Function
---

Get values from deep nested maps.

```css
map-get-deep($-map, $-keys...)
```
*/
@function map-get-deep($-map, $-keys...) {
  $-value: $-map;
  @each $-key in $-keys {
    $-value: map-get($-value, $-key);
  }
  @return $-value;
}
